.timeline-body {
  position: relative;
  background-color: $light;
  border-radius: 0 $rounded-borders $rounded-borders 0;
  padding: 5px 0;

  .timeline-item {
    position: relative;

    .content {
      margin: 20;
      padding-bottom: 0px;
      border-bottom: 1px dashed $dark;

      .date {
        margin-top: -5px;
        margin-bottom: 15px;
        color: #6c757d;
      }
    }
  }
}
